

<!--Seleção de controle de acesso-->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" value="MT" [(ngModel)]="tipo"  type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Matriz de controle de acesso
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" value="MT_P" [(ngModel)]="tipo" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Matriz com  papeis
        </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" value="CP" [(ngModel)]="tipo"   type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Abordagem por competências
        </label>
      </div>
    </div>
    <!--div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Baseado em papeis
        </label>
      </div>
    </div-->
  </div>
</div>



<!--Menu de navegação-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="GetPermissoes_pb()" style="cursor: pointer;">Área pública</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active"  (click)="GetPermissoes_lg()" style="cursor: pointer;">Área do usuário logado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" (click)="GetPermissoes_gr()" style="cursor: pointer;">Área do gerente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" (click)="GetPermissoes_adm()" style="cursor: pointer;">Área do administrador</a>
        </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link active" >Usuário: </a>
        </li>


        <li class="nav-item">
          <a class="nav-link active" >
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" value="NULL" [(ngModel)]="usuario"  type="radio" name="flexRadioDefault2" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault23">
                      NULL
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" value="USUARIO_PADRAO_123" [(ngModel)]="usuario" type="radio" name="flexRadioDefault2" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault23">
                      USUARIO_PADRAO_123
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" value="GERENTE_DE_ALGUMA_COISA" [(ngModel)]="usuario" type="radio" name="flexRadioDefault2" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault23">
                      GERENTE_DE_ALGUMA_COISA
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" value="ADMINISTRADOR_01" [(ngModel)]="usuario" type="radio" name="flexRadioDefault2" id="flexRadioDefault3" checked>
                    <label class="form-check-label" for="flexRadioDefault23">
                      ADMINISTRADOR_01
                    </label>
                  </div>
                </div>

              </div>
            </div>
          </a>
        </li>



        <!--li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">NULL</a></li>
            <li><a class="dropdown-item" href="#">USUARIO_PADRAO_123</a></li>
            <li><a class="dropdown-item" href="#">GERENTE_DE_ALGUMA_COISA</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">ADMINISTRADOR_01</a></li>
          </ul>
        </li-->
      </ul>
    </div>
  </div>

</nav>

<div>
  <div *ngIf="permissao ==  1" class="alert alert-success" role="alert">
    Acesso concedido !
</div>
<div *ngIf="permissao ==  0" class="alert alert-danger" role="alert">
    Acesso negado !
</div>

<br><br><br>
<div *ngIf="timer >=  0" class="alert alert-secondary" role="alert">
    Tempo gasto pelo algorítimo: {{timer}} segundos
</div>

<div *ngIf="timer <  0" class="alert alert-secondary" role="alert">
    Fazendo requisição...
</div>


</div>

<!--router-outlet></router-outlet-->
